.easy_notifications_super_long_and_unique_class.parent{
	width:100% !important;
	clear:none !important;
	position:fixed !important;
	top:0rem !important;
	right:0rem !important;
	padding-right: 1rem;
	z-index:999;
}
.easy_notifications_super_long_and_unique_class .notification{
	width:100% !important;
	margin-top:1.5rem !important;
	clear:both !important;
	max-width:55rem !important;
	float:right;
	display:block !important;
	border-radius:0.3rem;
	padding:0.75rem;
	color:#fff;
	background-color: #2980B9;
	background: #2980B9;
	font-size:85%;
	text-align:left;
}
.easy_notifications_super_long_and_unique_class .notification b{
	font-size:100%;
}
.easy_notifications_super_long_and_unique_class .notification.error{
	color:#fff;
	background-color: #cd2c0a;
	background: rgb(205,44,10);
	background: linear-gradient(90deg, rgba(205,44,10,1) 50%, rgba(255,0,0,1) 100%);
}
.easy_notifications_super_long_and_unique_class .notification.info{
	color:#fff;
	background-color: #2980B9;
	background: rgb(41,128,185);
	background: linear-gradient(90deg, rgba(41,128,185,1) 50%, rgba(0,81,134,1) 100%);
}
.easy_notifications_super_long_and_unique_class .notification.success{
	color:#fff;
	background-color: #196f3d;
	background: rgb(23,165,137);
	background: linear-gradient(90deg, rgba(23,165,137,1) 50%, rgba(25,111,61,1) 100%);
}

